<nav class="navbar navbar-ligth">
  <span class="navbar-brand mb-0 h1 text-center">Pagina Principal</span>
</nav>

<main>
  <div class="container" style="position: relative;">
  <div class="row">
  <div class="card col-6" style="padding: 10%;">
    <div class="card-header">
      Nuevo Registro Horas Extra
    </div>
    <div class="card-content justify-conten-center">
      <button type="button" class="btn btn-primary" (click)="router.navigateByUrl('/nuevo')">
        Registrar Horas Extra
      </button>
    </div>
  </div>
  <div class="card col-6" style="padding: 10%;">
    <div class="card-header">
      Historial Horas Extra
    </div>
    <div class="card-content justify-conten-center">
      <button type="button" class="btn btn-primary" (click)="router.navigateByUrl('/historial')">
        Ver Historial
      </button>
    </div>
  </div>
</div>
</div>
</main>



